//flights

.f-title {
    margin: 32px 0 0;
}

.flight-list {
    padding-top: 2px;
    
}

.flight-container {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 18px 10px 18px 33px;
    margin: 10px auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    transform: translateX(100px);
    opacity: 0;
    transition: 150ms;
    &.show {
        transform: translateX(0);
        opacity: 1;
    }

    

    .flight-details {
        flex: 1;
    }

    .f-from {
        margin-bottom: 10px;
    }

    .f-to {
        margin-bottom: 5px;
    }

    .f-info {
        margin-bottom: 10px;
    }

    .f-duration {
        border: 1px solid rgb(126, 209, 235);
        background: #cef3ff;
        border-radius: 24px;
        padding: 3px 5px;
        margin: 0 12px 0 23px;
        font-size: 12px;
        color: #1f1f6c;
    }

    .fa-arrow-down {
        font-size: 22px;
    }

    .f-change {
        border: 1px solid #cfcbcb;
        background: #d4dcdf;
        border-radius: 24px;
        padding: 3px 5px;
        font-size: 12px;
        color: black;
    }

    .f-airport-change {
        border: 1px solid #cfcbcb;
        background: #daa8e3;
        border-radius: 24px;
        padding: 3px 5px;
        font-size: 12px;
        color: black;
        margin-left: 12px;
    }

    .f-more-details {
        background: none;
        border: 0;
        color: inherit;
        cursor: pointer;
        font: inherit;
        line-height: normal;
        overflow: visible;
        padding: 0 0 0 20px;
        text-decoration: underline;
        position: relative;

        .f-md-icon:before {
            position: absolute;
            right: -20px;
            top: -2px;
            content: '>';
            transform: rotate(90deg);
            transition: transform 1s;
            font-size: 20px;
        }

        &.open {
            .f-md-icon:before {
                transform: rotate(-90deg);
            }

        }

        &:hover {
            text-decoration: none;
        }
    }

    .f-md-table {
        width: 92%;
        background: #d0f3ee;
        padding: 20px;
        margin: 10px 4px 10px 43px;
        border-radius: 5px;


        .f-place {
            margin-bottom: 0;
        }

        .f-date {
            color: gray;
            font-size: 14px;
        }

        .f-icon {
            width: 18%;
        }

        td, th {
            padding: 5px;
        }
    }



    .flight-book {
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .f-price {
            font-weight: bold;
            font-size: 20px;
        }
    }

}

.flight-skeleton-list {
    margin-top: 50px;
    padding-left: 0;
    list-style: none;

}


.flight-skeleton {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    margin: 10px auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;



    .right-side {
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fs {
        height: 25px;
        margin-bottom: 10px;
        animation: skeleton-loading 1s linear infinite alternate;

        &.w-75 {
            width: 75px;
        }

        &.w-100 {
            width: 100px;
        }

        &.w-160 {
            width: 136px;
        }

    }
}


@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}