.logo-container {
  display: flex;
  font-size: 20px;

  .logo {
    background: url(./sun.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    font-size: 26px;
    padding-right: 10px;

  }

  .logo-name {
    margin: 0;
  }
}



.search-page {

  background: #ebebeb;
  min-height: 100vh;

  header {
    padding: 20px 20px 20px 30px;
    background: rgb(0, 169, 145);
    color: white;
  }

  .container {
    width: 80%;
    margin: auto;
  }

  .search-form {
    padding-top: 50px;

    .autocomplete {
      display: flex;
      width: 250px;
      font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      background: white;
      label {
        font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
      }

      .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
        color: rgb(0, 169, 145);
      }

      .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: rgb(0, 169, 145);
      }

      .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: rgb(0, 169, 145);
      }

      
    }
    
    .search-inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
//Datepicker focus styles
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: rgb(0, 169, 145) !important;
}

.css-10fao8b-MuiPickersCalendarHeader-labelContainer {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif !important;
}



